.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
/* HERO */
.hero {
  background: var(--color-navy-800);
  color: var(--color-white);
  padding-block: var(--space-section);
  margin-top: calc(-1 * var(--nav-height));
  padding-top: calc(var(--space-section) + var(--nav-height));
   /* margin-bottom: calc(-1 * var(--nav-height)); */
  padding-bottom: calc(var(--space-section) + var(--nav-height));
  border-bottom: 1px solid var(--color-orange-900);
}

/* Noise texture overlay */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: var(--z-base);
  background-image: var(--noise-image);
  opacity: var(--noise-opacity);
  filter: contrast(120%) brightness(100%);
}

.hero__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__content {
  max-width: var(--max-width-narrow);
} 

.hero__text {
  padding-bottom: var(--space-8);
  color: var(--color-neutral-100);
}

.hero__products{
  padding-bottom: var(--space-section);
}
